
.button 
{	
	-fx-background-color:#ff8811;
	-fx-mark-color:#353534;

	
}

.button:hover
{
   -fx-background-color:#ee7403;
   -fx-text-fill:#ffffff;
   
}
.button:pressed
{
	-fx-background-color:#ee7403;
} 
.button .label:hover 
{	
	-fx-text-fill:#ffffff;
}


.MenuButton
{
	
	-fx-background-color:#ff8811;
}

.MenuButton:hover
{
   -fx-background-color:#ee7403;
   -fx-mark-color:#ffffff; 
}
.MenuButton:pressed
{
	-fx-background-color:#ee7403;
} 
.MenuButton .label:hover
{	
	-fx-text-fill:#ffffff;
}

.menu-item 
{
	
   -fx-background-color:#ff8811;	
}


.menu-item .label
{

   -fx-text-fill:#353534;
   -fx-font-size:105%;	
  
     	
}



.menu-item:focused
{
   -fx-background-color:#ee7403;
   
}
.menu-item:hover .label
{

   -fx-text-fill:#ffffff;
   
   	
}





.context-menu
{
   -fx-background-color:#ff8811;
}





.buttonAjouterCritere{

-fx-background-color:#ffa207;

}
.bodybg{
	
  -fx-background-image:url('d1d76c72161c5606ff561c22c49b9a69.jpg');
  -fx-background-size:100% 100%;

}
.pane{

	-fx-background-image:url('Ranch-exterior-in-deep-orange.jpg');
	-fx-background-size:100% 100%;

}

.logo{
	
	-fx-background-image:url('window.PNG');
	-fx-background-size:100% 100%;

}



